/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Landing page styling */
#body-back {
    font-family: 'Arial', sans-serif;
    background-color: #dedede;  /* New background color */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-container {
    text-align: center;
    background-color: #e6e6fa;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #666;
}

/* Button styling */
button {
    background-color: #b19cd9;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #a085c7;
    transform: translateY(-2px);
}

button:active {
    background-color: #003d80;
    transform: translateY(0);
}
